@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=El+Messiri:wght@600&family=Poppins:wght@300;400&display=swap"); */

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  height: 100vh;
  background: #000000;
  color: #fff;
  font-family:  "Dancing Script", serif;
}
